{% extends "base.html" %}
{% block title %}Home page{% endblock title %}
{% block js %}<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/index.js"></script>{% endblock js %}
{% block detail %}
    <ul>
        <li class="jumbotron"><a id="list" href="javascript:void(0)">Employee Details</a></li>
        <li class="jumbotron"><a  id="list1" href="javascript:void(0)">Department Details</a></li>
    </ul>
{% endblock detail %}
